.law{

    padding: 1rem;
    .lawnumber{
        color: white;
        font-size: 32px;
        direction: rtl;
        padding: 30px;
    }
    .text{
        color: white;
        font-size: 32px;
        direction: rtl;
        padding-right: 60px;
        padding-left: 50px;
    }
    .title{
        text-align: center;
        color:white;
        font-size: 250%;
        padding-top: 3rem;
        direction: rtl;

    }
}