.notes{
    h1{
        display: inline-block;
        margin-left: 10%;
    }
    p{
        margin-left: 10%;
    }
    margin: 5rem;
    background-color: rgb(109, 11, 11);
    width:80%;
    word-break: break-all;
    justify-content: center;
    direction: rtl;
p{
    color: white;
    
}
h2{
    color: rgb(167, 7, 7);
    text-decoration: none;
}
.info-notes{
    *{
        display: inline-block;
        text-align: left;
        padding: 1rem;
    }
    
    
}


}