.notes{
    .notename{
        :first-child:hover{
            color:rgb(255, 255, 255);
            transition: .21s;            
        }
        :first-child{
            color:rgba(255, 255, 255, 0.644);
            margin-right: 10px;
            h1{
                display: inline-block;

            }
            transition: .21s;            
        }
    }
    p{
        margin-left: 10%;
    }
    margin: 5rem;
    background-color: rgb(109, 11, 11);
    width:80%;
    word-break: break-all;
    justify-content: center;
    direction: rtl;
p{
    color: white;
    
}
h2{
    color: rgb(167, 7, 7);
    text-decoration: none;
}
.info-notes{
    *{
        display: inline-block;
        text-align: left;
        padding: 1rem;
    }
    
    
}
}

.like2{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.like{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: green;
    animation-name: like;
    animation-duration: 1s;
}
@keyframes like {
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg);
    }
}
